.app {
  display: flex;
  justify-content: center;
  .container{
    width: 1024px;

    .container {
      padding: 10px 0px;
      display: flex;
      align-items: center;
      gap: 10px;
      .addHome {
        padding: 10px;
        margin-top: 20px;
        cursor: pointer;
        border: none;
        background-color: teal;
        color: white;
        font-weight: bold;
      }
  
      .dormitory {
        padding: 10px;
        margin-top: 20px;
        cursor: pointer;
        border: none;
        background-color: teal;
        color: white;
        font-weight: bold;
      }

      .settlement {
        padding: 10px;
        margin-top: 20px;
        cursor: pointer;
        border: none;
        background-color: teal;
        color: white;
        font-weight: bold;
      }

      .user {
        padding: 10px;
        margin-top: 20px;
        cursor: pointer;
        border: none;
        background-color: teal;
        color: white;
        font-weight: bold;
      }
    }
    
    h1 {
      margin-bottom: 50px;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 20px;
  
      input {
        width: 250px;
        padding: 10px;
        border: 1px solid gray;
      }
  
      textarea {
        padding: 10px;
      }
  
      button {
        border: none;
        padding: 10px;
        background-color: white;
        background-color: teal;
        color: white;
        font-weight: bold;
        cursor: pointer;
      }
    }
    
    .navbar {
      .container {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
          img {
            width: 120px;
          }
        }
      }
    }
  }
}
